body { 
	background-color: #ccc;
	font-family: 'Dancing Script', cursive;
	line-height: 1.25;
}
.boring-font {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
img {
	box-shadow: 3px 3px 10px #888;
}
div {
	position: relative;
}
.download {
	position: fixed;
	left: 10px;
	top: 20px;
}
.download a {
	font-size: 20px;
}
.info {
	position: fixed;
	bottom: 20px;
	right: 10px;
	padding: 30px 20px 20px;
	background: #fff;
	border: solid 2px red;
	max-width: 300px;
	border-radius: 10px;
	font-size: 20px; 
	z-index: 5;
}
.font-toggle {
	position: fixed;
	top: 20px;
	right: 10px;
	font-size: 20px;
	padding: 20px;
	background: #fff;
	border: solid 2px #444;
	border-radius: 10px;
}
.font-toggle i {
	cursor: pointer;
}
.font-toggle .fa-toggle-on{
	color: green;
}
.top {
	position: fixed;
	bottom: 20px;
	left: 10px;
	padding: 30px 20px 20px;
	background: #fff;
	border: solid 2px #444;
	max-width: 300px;
	border-radius: 10px;
	font-size: 20px; 
	z-index: 5;
}
.top a, .top a:hover {
	color: #000;
}
.exit {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #000;
	cursor: pointer;
}
.exit:hover {
	color: #000;
 }
.page {
	background-color: #fff;
	width: 8.5in;
	height: 11in;
	margin: 20px auto;
	padding: .5in .75in;
	overflow: hidden;
}
.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}
.content-list li{
	list-style: none;
	font-size: 30px;
	margin-bottom: 20px;
}
.content-list li a, .content-list li a:hover{
	color: #000;
}
.wearer-list li{
	font-size: 20px;
	margin-bottom: 5px;
}
.title {
	font-size: 80px;
	text-align: center;
	line-height: 1.1;
	margin-bottom: 75px;
}
.title img {
	margin-top: 50px;
	max-width: 100%;
}
.gen-title{
	font-size: 60px;
	text-align: center;
}
.background img {
	width: 100%;
	height: 11in;
}
.wearer {
	text-align: center;
	font-size: 26px;
	margin-top: 10px;
}
.date {
	text-align: center;
	margin-bottom: 20px;
}
.program {
	margin-bottom: 20px;
	text-align: center;
}
.program img {
	max-width: 80%;
	height: auto !important;
	cursor: pointer;
}
.column, .half {
	float: left;
	width: 50%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.third {
	float: left;
	width: 33%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.square {
	height: 202px;
	overflow: hidden;
}
.only-pic {
	text-align: center;
}
.pic{
	text-align: center;
}
.pic img{
	max-width: 100%;
	height: auto !important;
	cursor: pointer;
}
.large-caption {
	text-align: center;
	margin-bottom: 15px;
	padding: 10px;
	font-size: 22px;
	background-color: #fff;
	margin-top: 10px;
}
.caption {
	text-align: center;
	margin-bottom: 15px;
	padding: 10px 0;
	font-size: 18px;
	background-color: #fff;
	margin-top: 10px;
}
.page-num {
	position: absolute;
	bottom: .5in;
	right: .75in;
}
.single-photo {
	margin-top: 25%;
}

@-moz-document url-prefix() {
  .page {
		height: 11.2in;
	}
	.background img {
		height: 11.2in;
	}
}

@media (max-width: 767px) {
	.page { width: 100%; padding: 20px; border: solid 5px blue; height: auto;}
	.gen-title, .title { font-size: 35px; }
	.page .background { display: none; }
	.download, .info, .font-toggle, .top { display: none; }
	ul {padding-left: 15px;}
}